<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:if="${#strings.length(data.message) != 0}">
      <script>
          top.alert("[[${data.message}]]");
      </script>
  </th:block>
  <th:block th:if="${#strings.length(data.href) != 0}">
      <script>
         var href = "";
          if("[[${data.href}]]".includes("&amp;")) {
            href = "[[${data.href}]]".replace(/&amp;/g, '&');
            alert(href);
            }
          else
            href = "[[${data.href}]]";

          location.replace(href);
      </script>
  </th:block>
</head>
</html>