<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Sidebar">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/common/mypageSidebar.css}" rel="stylesheet">
</head>
<body>
    <aside>
        <table class="mypageSidebar">
            <tbody>
            <tr>
                <th>PROFILE</th>
                <td><a th:href="@{/mypage/user/info}">개인정보수정</a></td>
                <td><a th:href="@{/mypage/address}">배송지 관리</a></td>
                <td><a th:href="@{/mypage/mileage}">마일리지 내역</a></td>
            </tr>
            <tr>
                <th>Order</th>
                <td><a th:href="@{/mypage/order}">주문•배송 내역</a></td>
                <td><a th:href="@{/mypage/refund}">반품 내역</a></td>
                <td></td>
            </tr>
            <tr>
                <th>Board</th>
                <td><a th:href="@{/mypage/question/list(page='mypage')}">1:1 문의 내역</a></td>
                <td><a th:href="@{/mypage/productQ/list(page='mypage')}">상품 문의 내역</a></td>
                <td><a th:href="@{/mypage/review}">리뷰</a></td>
            </tr>
            <tr>
                <th><a th:href="@{/mypage/wish/list}">WISHLIST</a></th>
            </tr>
            </tbody>
        </table>
    </aside>
</body>
</html>