<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Sidebar">

<head>
    <meta charset="UTF-8">
    <link th:href="@{css/common/mypageSidebar.css}" rel="stylesheet">
</head>
<body>
    <aside>
        <table class="mypageSidebar">
            <tbody>
            <tr>
                <th>PROFILE</th>
                <td><a th:href="@{u_userInfo}">개인정보수정</a></td>
                <td><a th:href="@{u_address}">배송지 관리</a></td>
                <td><a th:href="@{u_mileage}">마일리지 내역</a></td>
            </tr>
            <tr>
                <th>Order</th>
                <td><a th:href="@{u_order}">주문•배송 내역</a></td>
                <td><a th:href="@{u_refund}">반품 내역</a></td>
                <td></td>
            </tr>
            <tr>
                <th>Board</th>
                <td><a th:href="@{u_review}">후기 내역</a></td>
                <td><a th:href="@{questionList(page='mypage')}">문의 내역</a></td>
                <td></td>
            </tr>
            <tr>
                <th><a th:href="@{u_wishList}">WISHLIST</a></th>
            </tr>
            </tbody>
        </table>
    </aside>
</body>
</html>