<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="orderProcess">
<head>
  <meta charset="UTF-8">
  <link th:href="@{css/common/orderProcess.css}" rel="stylesheet">
</head>
<body> <!-- 맞는 프로레스가 h2에 나오도록 설정~!d -->
  <table class="orderProcess">
    <tbody class="flow">
      <tr class="p_cart">
        <th>01</th>
        <th>장바구니</th>
      </tr>
      <tr class="p_order">
        <th>02</th>
        <th>주문 / 결제</th>
      </tr>
      <tr class="p_complete">
        <th>03</th>
        <th>주문 완료</th>
      </tr>
    </tbody>
  </table>
</body>
</html>