<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/communityLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link th:href="@{css/community/notice.css}" rel="stylesheet">
</head>
<body>
    <section class="content">
       <h3 class="underline">공지사항</h3>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>분류</th>
                    <th>내용</th>
                </tr>
            </thead>

            <tbody id="toggle_container">
                <th:block th:each="notice, i : ${noticeList}">
                    <tr class="toggle_Q">
                        <td scope="row" th:text="${i.index+1}"></td>
                        <td th:text="${notice.categoryDTO?.categoryName}"></td>
                        <td class="notice_content">
                            <span class="notice_q_title"
                                th:text="${notice.title}">
                            </span>
                        </td>
                    </tr>
                    <tr class="toggle_A">
                        <td colspan="3" class="notice_a" scope="row">
                            <div class="notice_a_content"
                                th:text="${notice.content}" >
                            </div>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </section>
</body>
</html>