<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/communityLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의</title>
    <link th:href="@{css/community/question.css}" rel="stylesheet">
</head>
<body>
    <section class="content">
        <h3 class="underline">1:1 문의</h3>
        <form name="direct">

            <div>
                <label for="userid">아이디</label>
                <input type="text" id="userid" name="userid" placeholder="userid" readonly>
            </div>

<!--            <div>-->
<!--                <label for="email">이메일</label>-->
<!--                <input type="email" id="email" name="email" placeholder="example@email.com" required>-->
<!--            </div>-->

            <div>
                <label for="phone">핸드폰 번호</label>
                <input type="text" id="phone" name="phone" placeholder="01012345678" required>
            </div>

            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="제목을 입력해주세요." required>
            </div>

            <div>
                <label for="category">카테고리</label>
                <select name="category" id="category">
                    <option value="login">로그인 / 계정</option>
                    <option value="product">상품</option>
                    <option value="delivery">배송</option>
                    <option value="other">기타</option>
                </select>
            </div>

            <div>
                <label for="description">문의내용</label>
                <textarea name="description" id="description" rows="10" placeholder="문의 내용">
    구입하신 날짜:

    구입하신 상품:

    문의 내용:
                </textarea>
<!-- 로그인 / 계정 이랑 기타 의 경우
    문의 내용:

    배송
    주문 번호(주문하신 경우) :

    문의 내용:

-->
            </div>

            <div class="file-upload">
                <input class="upload-name" value="" placeholder="첨부파일" readonly>
                <label for="file">파일 첨부</label>
                <input type="file" id="file">
            </div>

            <button>문의하기</button>
        </form>
    </section>
</body>
</html>