<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/communityLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>구매 후기</title>
    <link th:href="@{css/community/review.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h3 class="underline">구매후기</h3>
        <ul class="reviewContainer">
            <th:block th:each="item,i : ${productList}">
                <li th:class="review[[${i.index+1}]]">
                    <ul>
                        <li>
                            <img class="productImg" th:src="${item.productDTO.image}" alt="${item.name}">
                        </li>
                        <li class="productName">
                            <p class="rating-number">[[${item.name}]](${item.star})</p>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </li>
                        <th:block th:each="review : ${reviewList}">
                            <li class="review_recent">
                                <div>
                                    <img class="comment" th:src="${review.image}" alt="리뷰">
                                </div>
                                <div>
                                    [[${review.content}]]
                                </div>
                            </li>
                        </th:block> //두개만 나오게 조정해야함
                    </ul>
                </li>
            </th:block>
        </ul>
    </div>
</body>
</html>