<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/communityLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>찾아 오시는 길</title>
    <script difer type="text/javascript" th:src="@{https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dllgt4prde&callback=CALLBACK_FUNCTION}"></script>
    <script defer th:src="@{js/map_naver.js}"></script>
    <script difer type="text/javascript" th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyBp9KXWMiBH9ONB4xp3C_JR5xqLaXmNrvw}"></script>
    <script defer th:src="@{js/map_google.js}"></script>
    <link th:href="@{css/community/road.css}" rel="stylesheet">
</head>
<body>
    <section class="content">
        <h3 class="underline">찾아오시는 길</h3>
        <div class="map_box">

            <div id="mapList">
                <a href="#" id="naver" class="naver">N</a>
                <a href="#" id="google" class="google">G</a>
            </div>

            <div id="mapping_naver" class="mapping_naver">

            </div>

            <div id="mapping_google" class="mapping_google">

            </div>

            <div class="visit-info">
                <p><span>주소</span> 경기 성남시 분당구 돌마로 46 (광천빌딩 5층)</p>
                <p><span>지하철</span> 신분당, 수인분당 / 미금역 6번출구, 약 112m</p>
                <p><span>일반버스</span> 250, 310, 380, 700-2, 720-1</p>
                <p><span>마을버스</span> 11, 14, 15, 16, 17(미금역-동천역), 32, 5(상현지구대,금호5단지-미금역,2001아울렛), 7(보바스기념병원-서울대병원)</p>
                <p><span>직행버스</span> 1241</p>
                <p><span>연락처</span> 031-712-7447</p>
            </div>
        </div>
    </section>
</body>
</html>