<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/communityLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>찾아 오시는 길</title>
    <script difer type="text/javascript" th:src="@{https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dllgt4prde&callback=CALLBACK_FUNCTION}"></script>
    <link th:href="@{/css/community/road.css}" rel="stylesheet">
</head>
<body>
    <section class="content">
        <h3 class="underline">찾아오시는 길</h3>
        <div class="map_box">

            <div id="mapping_naver" class="mapping_naver">

            </div>


            <div class="visit-info">
                <p><span>주소</span> 경기 성남시 분당구 동판교로 </p>
                <p><span>지하철</span> 신분당 (판교역) / 수인분당 (야탑역) </p>
                <p><span>일반버스</span> 390, 380, 350 </p>
                <p><span>마을버스</span> 73-1, 73-1, 76, 602, 누리2호</p>
                <p><span>연락처</span> 010-2222-2222</p>
            </div>
        </div>
    </section>
</body>
<script th:src="@{/js/map_naver.js}"></script>

</html>