<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <script type="text/javascript" th:src="@{myLib/jquery-3.2.1.min.js}"></script>
    <link th:href="@{css/admin/list.css}" rel="stylesheet">
</head>
<body>
    <section class="content">
        <h3 class="underline">회원 관리</h3>

        <div class="sort">
                <a th:href="@{a_user}" th:text="전체" th:class="${status == 'all'} ? 'active' : '' "></a>
                <a th:href="@{a_user(sort='활동계정')}" th:text="활동계정" th:class="${status == '활동계정'} ? 'active' : '' "></a>
                <a th:href="@{a_user(sort='탈퇴계정')}" th:text="탈퇴계정" th:class="${status == '탈퇴계정'} ? 'active' : '' "></a>
        </div>

        <form id="deleteUser" method="post" th:action="@{a_deleteUser}">
            <table class="list">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll">전체 선택</label>  <!--자바로 구현 필요-->
                    </th>
                    <th>  ID  </th>
                    <th>사용자명</th>
                    <th>핸드폰번호</th>
                    <th>이메일</th>
                    <th>계정상태</th>
                </tr>
                </thead>

                <tbody id="userList">
                <th:block th:each="user : ${userList}">
                    <tr>
                        <td scope="row"><input type="checkbox" name="userIds" th:value="${user.userId}"></td>
                        <td>[[${user.userId}]]</td>
                        <td>[[${user.name}]]</td>
                        <td>[[${user.phoneNb}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.status}]]</td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                    <div class="buttons">
                        <button>선택 삭제</button>
                        <input type="reset" value="선택 취소">
                    </div>
                </tfoot>
            </table>
        </form>
    </section>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#selectAll').click(function() {
                if($('#selectAll').is(':checked'))
                    $("input[name=userIds]").prop("checked", true);
                else
                    $("input[name=userIds]").prop("checked", false);
            });
        });
    </script>

</body>
</html>