<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{css/admin/header.css}" rel="stylesheet">

</head>
<body>
  <header class="adminHeader">
    <h3>> 관리자 페이지 <</h3>
    <ul class="admin_header">
      <li><a th:href="@{a_user}"><i class="fa-solid fa-clipboard-list fa-3x"></i>회원 관리</a></li>
      <li><a th:href="@{a_product}"><i class="fa-regular fa-user fa-3x"></i>상품 관리</a></li>
      <li><a th:href="@{a_order}"><i class="fa-regular fa-user fa-3x"></i>주문 관리</a></li>
      <li><a th:href="@{a_refund}"><i class="fa-solid fa-coins fa-3x"></i>반품 관리</a></li>
      <li><a th:href="@{a_review}"><i class="fa-solid fa-coins fa-3x"></i>리뷰 관리</a></li>
      <li><a th:href="@{a_notice}"><i class="fa-solid fa-clipboard-check fa-3x"></i>공지 관리</a></li>
      <li><a th:href="@{a_productQ}"><i class="fa-solid fa-cart-shopping fa-3x"></i>상품 문의 관리</a></li>
      <li><a th:href="@{a_question}"><i class="fa-solid fa-house fa-3x"></i>1:1 문의 관리</a></li>
      <li><a th:href="@{main}"><i class="fa-solid fa-house fa-3x"></i>홈페이지로</a></li>
    </ul>
  </header>
</body>
</html>