<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/adminLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의 내역</title>
    <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
    <link th:href="@{/css/admin/list.css}" rel="stylesheet">
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#selectAll').click(function() {
                if($('#selectAll').is(':checked'))
                    $("input[name=usQIds]").prop("checked", true);
                else
                    $("input[name=usQIds]").prop("checked", false);
            });
        });
    </script>
</head>
<body>
    <section class="content">
        <h3 class="underline">1:1 문의 관리</h3>

        <div class="sort">
            <a th:href="@{/admin/question/list(page='admin')}" th:text="전체" th:class="${categoryId =='all'} ? 'active' : ''"></a>
            <th:block th:each="category,i : ${category}">
                <a th:href="@{/admin/question/list(sort=${category.categoryId}, page='admin')}" th:value="${category.categoryId}" th:class="${category.categoryId == categoryId} ? 'active' : ''">
                    [[${category.categoryName}]]</a>
            </th:block>
        </div>

        <form id="deleteUsQ" method="post" th:action="@{/admin/question/del(page='admin')}">
            <table class="list">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll">전체 선택</label>  <!--자바로 구현 필요-->
                    </th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>답변</th>
                </tr>
                </thead>

                <tbody id="questionList">
                <th:block th:each="question,i : ${usQList}">
                    <tr>
                        <td scope="row"><input type="checkbox" name="usqIds" th:value="${question.usqId}"></td>
                        <td th:text="${i.index+1}"></td>
                        <td th:text="${question.userDTO.userId}"></td>
                        <td th:text="${question.categoryDTO?.categoryName}"></td>
                        <td><a th:href="@{/admin/question/detail(questionId=${question.usqId})}" th:text="${question.title}" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=500,height=800'); return false;"></a></td>
                        <td th:text="${question.date1}"></td>
                        <td>
                            <th:block th:if="${question.comment != null}">
                                <label>O</label>
                            </th:block>
                            <th:block th:if="${question.comment == null}">
                                <label>X</label>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                    <div class="buttons">
                        <button>선택 삭제</button>
                        <input type="reset" value="선택 취소">
                    </div>
                </tfoot>
            </table>
        </form>
    </section>
</body>
</html>