<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ID 중복확인</title>
  <link th:href="@{/css/login/join.css}" rel="stylesheet">
  <script th:src="@{/js/login/inCheck.js}"></script>
  <script th:inline="javascript">
  	let iCheck = false;

    onload = function () {
      document.getElementById('id').addEventListener("keydown",
        (e) => {if(e.which==13) {
        e.preventDefault();
        document.getElementById('idCheck').focus();
        }
      });
         // ** ID
      document.getElementById('id').addEventListener("focusout",
      () => {iCheck = idCheck();} );
    }

    function idOK() {
        // 2)
        opener.document.getElementById('idCheck').disabled='disabled';
        opener.document.getElementById('id').value = document.getElementById('id').value;
        opener.document.getElementById('id').readOnly=true; // OK
        opener.document.getElementById('password').focus();
        window.close();
    } //idOK

  function idDupCheck() {
    if(iCheck == false) iCheck = idCheck();
    else {
     $.ajax({
      url: '/join/idDupCheck?id='+document.getElementById('id').value,
      method: "GET",
      data : {id : id
              },
      }).done(function() {
            element.classList.remove('active');
            alert("위시리스트에서 삭제하였습니다.");
      }).fail(function() {
            alert("위시리스트 삭제에 실패했습니다.");
      });
	}
  }
  </script>
</head>
<body>
<div id="wrap">
  <h3>ID 중복확인</h3>

  <form th:action="@{/join/idDupCheck}" method="get">
    작성하신 아이디:
    <input type="text" name="id" id="id" th:value="${writeId}">&nbsp;
    <span id="iMessage" class="eMessage"></span>
    <input type="submit" id="idCheck" class="btn" value="ID 중복확인" onclick="idDupCheck()"><br>
    <!-- inCheck.js 의  idCheck() 의 결과에 따라 submit 결정 -->
  </form>
  <br><br>

  <div id="msgBlock">
    <th:block th:if="${idUse == 'T'}">
      [[${writeId}]] 는(은) 사용가능 합니다.&nbsp;&nbsp;
      <input type="button" class="btn" value="사용" onclick="idOK()">
    </th:block>
    <th:block th:if="${idUse == 'F'}">
      [[${writeId}]] 는(은) 사용 불가능합니다 (사용중) <br>
      다시 입력하세요.<br>

      <script>
		document.getElementById('id').focus();
		opener.document.getElementById('id').value='';
	  </script>
    </th:block>
  </div>
</div>
</body>
</html>