<!--
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/listLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/product/main.css}" rel="stylesheet">
    <title>Main</title>
</head>
<body>
    <div >
        <div class="main_wrapper">
            <div class="main_picture">
                <input type="radio" name="main_pic" id="main_1" class="main_pic" checked>
                <label for="main_1"></label>
    &lt;!&ndash;            <img src="../img/main_picture/1.jpg" alt="메인사진1" id="main 1">&ndash;&gt;

                <input type="radio" name="main_pic" id="main_2" class="main_pic">
                <label for="main_2"></label>
    &lt;!&ndash;            <img src="../img/main_picture/2.jpg" alt="메인사진2" id="main 2">&ndash;&gt;

                <input type="radio" name="main_pic" id="main_3" class="main_pic">
                <label for="main_3"></label>
    &lt;!&ndash;            <img src=" ../img/main_picture/3.jpg" alt="메인사진3" id="main 3">&ndash;&gt;
            </div>
        </div>

        <h2 class="animate__animated element">신상품</h2>
        <form action="" method="get" th:object="${recommendProduct}">
            <div class="recommendContainer">
            <th:block th:each="item, i : ${recommendProduct}">
                <div class="recommend item[[${i.index}]]">
                    <p>
                        <a ref=""><img th:src="${item.image}"></a>
                        <h3 th:text="${item.name}"></h3><br>
                    </p>
                </div>
            </th:block>
            </div>
        </form>
    </div>
</body>
</html>
1번 -->


<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/listLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/product/main.css}" rel="stylesheet">
    <title>Main</title>
</head>
<body>
<div >
    <div class="main_wrapper">
        <div class="main_picture">
            <input type="radio" name="main_pic" id="main_1" class="main_pic" checked>
            <label for="main_1"></label>
            <!--            <img src="../img/main_picture/1.jpg" alt="메인사진1" id="main 1">-->

            <input type="radio" name="main_pic" id="main_2" class="main_pic">
            <label for="main_2"></label>
            <!--            <img src="../img/main_picture/2.jpg" alt="메인사진2" id="main 2">-->

            <input type="radio" name="main_pic" id="main_3" class="main_pic">
            <label for="main_3"></label>
            <!--            <img src=" ../img/main_picture/3.jpg" alt="메인사진3" id="main 3">-->
        </div>
    </div>

    <h2 class="animate__animated element">신상품</h2>
    <form action="" method="get" th:object="${recommendProduct}">
        <div class="recommendContainer">
            <th:block th:each="item, i : ${recommendProduct}">
                <div class="recommend item[[${i.index}]]">
                    <p>
                        <a ref=""><img th:src="${item.image}"></a>
                    <h3 th:text="${item.name}"></h3><br>
                    </p>
                </div>
            </th:block>
        </div>
    </form>
</div>
</body>
</html>