<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" rel="stylesheet">
    <title>Main</title>
</head>
<body>
    <div >
        <div class="main_wrapper">
            <div class="main_picture">
                <input type="radio" name="main_pic" id="main_1" class="main_pic" checked>
                <label for="main_1"></label>
    <!--            <img src="../img/main_picture/1.jpg" alt="메인사진1" id="main 1">-->

                <input type="radio" name="main_pic" id="main_2" class="main_pic">
                <label for="main_2"></label>
    <!--            <img src="../img/main_picture/2.jpg" alt="메인사진2" id="main 2">-->

                <input type="radio" name="main_pic" id="main_3" class="main_pic">
                <label for="main_3"></label>
    <!--            <img src="../img/main_picture/3.jpg" alt="메인사진3" id="main 3">-->
            </div>
        </div>

        <h2 class="animate__animated element">추천 상품</h2>

        <div class="recommend_item">

            <div class="recommend item1">
                <p>
    <!--                <a href="./sunglasses.html"><img src="../img/main_product/1.jpg"></a>-->
                <h3>유니크 뿔테 안경</h3><br>
                </p>
            </div>

            <div class="recommend item2">
                <p>
    <!--                <a href="#"><img src="../img/main_product/2.jpg"></a>-->
                <h3>투브릿지 레트로 안경</h3><br>
                </p>
            </div>

            <div class="recommend item3">
                <p>
    <!--                <a href="./sunglasses.html"><img src="../img/main_product/3.jpg"></a>-->
                <h3>레이벤 선글라스</h3><br>
                </p>
            </div>

            <div class="recommend item4">
                <p>
    <!--                <a href="#"><img src="../img/main_product/4.jpg"></a>-->
                <h3>티타늄 안경</h3><br>
                </p>
            </div>


            <div class="recommend item5">
                <p>
    <!--                <a href="#"><img src="../img/main_product/5.jpg"></a>-->
                <h3>레이벤 뿔테 안경</h3><br>
                </p>
            </div>

            <div class="recommend item6">
                <p>
    <!--                <a href="./sunglasses.html"><img src="../img/main_product/6.jpg"></a>-->
                <h3>레이벤 선글라스</h3><br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>