<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/mypageLayout}"
      layout:fragment="Content">
<head>
  <link th:href="@{/css/mypage/order.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
  <meta charset="UTF-8">
  <title>반품 내역</title>
</head>
<body>
<section class="content">
  <h3 class="underline">반품 내역</h3>

  <div class="sort">
    <a th:href="@{/mypage/refund}" th:text="전체" th:class="${status == 'all'} ? 'active' : '' "></a>
    <a th:href="@{/mypage/refund(sort='반품 요청')}" th:text="'반품 요청'" th:class="${status == '반품 요청'} ? 'active' : '' "></a>
    <a th:href="@{/mypage/refund(sort='반품 처리중')}" th:text="'반품 처리중'" th:class="${status == '반품 처리중'} ? 'active' : '' "></a>
    <a th:href="@{/mypage/refund(sort='반품 확정')}" th:text="'반품 확정'" th:class="${status == '반품 확정'} ? 'active' : '' "></a>
    <a th:href="@{/mypage/refund(sort='반품 완료')}" th:text="'반품 완료'" th:class="${status == '반품 완료'} ? 'active' : '' "></a>
  </div>

  <table class="list">
    <tbody id="refundList">
    <th:block th:each="refund : ${refundList}">
      <tr class="col1">
        <th colspan="2">[[${refund.status}]]</th>
        <td colspan="2" th:if="${refund.status != '반품 완료'}" th:utext="${#temporals.format(refund.date, 'yyyy-MM-dd')+' 요청'}"></td>
        <td colspan="2" th:if="${refund.status == '반품 완료'}" th:utext="${#temporals.format(refund.date, 'yyyy-MM-dd')+' 완료'}"></td>
      </tr>
      <tr class="col2">
        <th colspan="2">
          <img th:src="${refund.orderDetailDTO.productDTO.image}">
        </th>
        <th>[[${refund.orderDetailDTO.productDTO.name}]]</th>
        <th>
          <div class="col3">
            <a  th:href="@{/mypage/refund/detail(refundId=${refund.refundId})}", th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=600,height=600'); return false;"> 반품 상세 > </a>
            <a th:href="@{/community/question}"> 문의 ></a>
          </div>
        </th>
      </tr>
    </th:block>
    </tbody>
  </table>
</section>

</body>
</html>