<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/mypage/refundDetail.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
  <meta charset="UTF-8">
  <script th:inline="javascript">
      function closeWindow() {
        window.close();
        window.opener.location.reload();
      }

      $(document).ready(function(){
        var status = /*[[${refund.image_1}]]*/ null;
        var imgUpload = document.getElementById('imgUpload');
        var imgContainer = document.getElementById('imgContainer');
        if(status == null) {
          imgContainer.style.display = 'none';
        } else {
          imgUpload.style.display='none';
        }
      });

      function uploadImg() {
        var status = /*[[${refund.image_1}]]*/ null;
        var imgUpload = document.getElementById('imgUpload');
        var imgContainer = document.getElementById('imgContainer');
        imgContainer.style.display = 'none';
        imgUpload.style.display = 'block';
      }

      // 첨부파일명 / 사진 미리보기
      function loadFile(input) {
        var imgContainer = document.getElementById('imgContainer');
        imgContainer.style.display = 'block';
        var container = document.getElementById('refundImg');
        container.innerHTML="";
        var box = document.createElement('div');
        container.appendChild(box)

        if(input.files && input.files[0]) {
          var names = [];
            for(let i = 0; i < input.files.length; i ++ ) {
              var file = input.files[i];
              names.push(file.name);

              var newImage = document.createElement("img");
              newImage.setAttribute("class","img");
              newImage.src = URL.createObjectURL(file);

              box.appendChild(newImage);
          }
            var name = document.querySelector('.upload_name');
            name.value = names.join(`  /  `);
          }
        }

  </script>
  <title>반품 신청 수정</title>
</head>
<body>
<section class="content">
  <h3 class="underline">반품 신청 수정</h3>
  <form method="post" th:action="@{/mypage/refund/change}" th:object="${refund}" enctype="multipart/form-data">
    <table class="list">
      <tbody id="refundDetailC">
      <tr style="display:none;">
        <th>반품 번호</th>
        <td>
          <input type="text" id="refundId" th:field="*{refundId}" readonly>
        </td>
      </tr>
      <tr>
        <th>주문상세번호</th>
        <td>
          <input type="text" id="odetailId" th:field="*{orderDetailDTO.odetailId}" readonly>
        </td>
      </tr>
      <tr>
        <th>아이디</th>
        <td>
          <input type="text" id="userId" th:field="*{userDTO.userId}" readonly>
        </td>
      </tr>
      <tr>
        <th><label for="title">제목</label></th>
        <td>
          <input type="text" id="title" th:field="*{title}" required>
        </td>
      </tr>
      <tr>
        <th><label for="description">내용</label></th>
        <td>
          <textarea id="description" rows="10" th:field="*{content}" required></textarea>
        </td>
      </tr>
      <tr id="imgUpload">
          <th>사진 첨부</th>
          <td class="file_upload">
            <input class="upload_name" placeholder="2개 첨부 가능"  readonly>
            <label for="file">파일 첨부</label>
            <input type="file" name="files" id="file" accept="image/*"  multiple onchange="loadFile(this)">
          </td>
      </tr>
      <tr id="imgContainer">
        <th colspan="2" id="refundImg">
          <div>
              <img th:src="${refund.image_1}" alt="반품사진1">
            <th:block th:if="${refund.image_2 != null}">
              <img th:src="${refund.image_2}" alt="반품사진2">
            </th:block>
            <a onclick="uploadImg()">사진 수정</a>
          </div>
        </th>
      </tr>
      </tbody>
    </table>
    <div class="buttons">
      <button>수정 완료</button>
      <a onclick="closeWindow();">닫기</a>
    </div>
  </form>
</section>
</body>
</html>