
/* ----- ★ 구성 위치 변경 ★ ------------------------------------------------------------*/
#default_address {
    display: flex;
    flex-direction: column-reverse;
}

/* ----- ★ 테이블 설정 ★ ------------------------------------------------------------*/
.list {
   table-layout: fixed; /* 이게 없으면... column 넓이 하나도 안멱혀요...*/
    width: 100%;
    margin: 0 0 20px 0;
    border: 0;
    border-spacing: 0;
    border-top: 1px solid #3c3c3c;
    border-collapse: collapse;
    line-height: 40px;
    margin : 30px 0;
}

.list a {
    text-decoration: none;
    font-weight : bold;
    color : black;
}

.list thead tr,
.list tbody tr {
  border-bottom: 1px solid #3c3c3c;
}

#check {
    background: url("/img/mypage/check.svg") no-repeat center/100% ;
    width : 30px;
    line-height: 30px;
    text-indent: -9999em;
    display : inline-block;
}

#address input[type='radio'] {
    all : revert;
    -webkit-appearance : none;
    height : 20px;
    width : 20px;
    border-radius : 50%;
    cursor : pointer;
    padding : 0 10px;
    outline : 1px solid RGB(255, 200, 200);
    margin-top : calc((40px - 20px)/2);
}

#address input[type='radio']:checked {
    border-color :  #FB9DA7;
    background :   #FB9DA7;
}


/* ----- ★ 테이블 넓이 ★ ------------------------------------------------------------*/

table.list tr th:nth-child(1),
table.list tr td:nth-child(1){
     width: 15%;
     text-align:center;
 }
table.list tr th:nth-child(2),
table.list tr td:nth-child(2) {
    width: 20%;
    text-align:center;
 }
table.list tr th:nth-child(3),
table.list tr td:nth-child(3) {
    width: 15%;
    text-align:center;
}
table.list tr th:nth-child(4),
table.list tr td:nth-child(4) {
    width: 50%;
}

/* ----- ★ 밑의 전송 / 추가 / 수정 버튼 파트 ★ ------------------------------------------------------------*/

.buttons {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap : 20px;
    cursor: pointer;
}

.buttons * {
    all: unset;
    width: 20%;
    font-weight: bold;
    margin: 3px 0;
    color: white;
    border-radius: 20px;
    background-color: RGB(255, 227, 227);
    box-sizing: border-box;
    padding: 5px 20px;
}

.buttons a:hover,
.buttons button:hover {
    background : #FB9DA7;
}
