#deleteusQ,
#productQ_Del {
    display: flex;
    flex-direction: column-reverse;
}

h3 {
    padding-bottom : 20px;
    font-size : 1.4rem;
}

h3.underline {
    border-bottom : 1px solid #33333330;
    margin : 30px 0;
}

.list {
   table-layout: fixed; /* 이게 없으면... column 넓이 하나도 안멱혀요...*/
    width: 100%;
    margin: 30px 0;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: 3px solid #FB9DA7;
    line-height: 40px;
    border-collapse :collapse;
}

.col1 {
     width: 20%;
 }
.col2 {
    width: 20%;
 }
.col3 {
    width: 60%;
}

/* ----- ★ 밑의 삭제/취소버튼 파트 ★ ------------------------------------------------------------*/

.buttons {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap : 20px;
    cursor: pointer;
}

.buttons * {
    all: unset;
    width: 20%;
    font-weight: bold;
    margin: 3px 0;
    color: white;
    border-radius: 20px;
    background-color: RGB(255, 200, 200);
    box-sizing: border-box;
    padding: 5px 20px;
}

.buttons a:hover,
.buttons input:hover,
.buttons button:hover {
    background : #FB9DA7;
}



/* ----- ★ QnA 전체 선택 input X ★ ------------------------------------------------------------*/
#selectAll {
    display:none;
}

/* ----- ★ notice/QnA toggle 설정 ★ ------------------------------------------------------------*/

section .toggle_Q .notice_content,
section .toggle_Q .productQ_content {
  text-align: left;
}

section .toggle_A,
section .toggle_C {
  display: none;
  word-break: break-all;
    font-weight: 900;
  border-bottom: 3px solid #FB9DA7;

}

section .toggle_Q,
thead tr {
  background-color: var(--white-f);
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 900;
  margin-right: 10px;
  text-align: center;
  border-bottom: 3px solid #FB9DA7;

}

section .notice_a,
section .question_a {
  padding: 20px;
}

.question_a_content {
    display: flex;
    gap : 5px;
}
.question_a_content img {
    width: 150px;
    height: 150px;
}

.question_a_content textarea,
.question_a_comment textarea,
.question_a_content textarea:focus-visible,
.question_a_comment textarea:focus-visible {
    border : none;
    outline:  none;
}

/* SORT */

.sort {
    display: flex;
    text-align: center;
    gap : 20px;
    margin: 10px 0;
}

.sort *,
#detailImg {
    all: unset;
    width: 20%;
    font-weight: bold;
    margin: 3px 0;
    color: white;
    border-radius: 20px;
    background-color: RGB(255, 200, 200);
    box-sizing: border-box;
    padding: 5px 20px;
    cursor: pointer;
}

.active {
    background : #FB9DA7;
}

/* productQ Img */
#productQImg {
    height : 200px;
    margin : 10px;
}

/* Mileage */
.mileage.list tr {
    padding : 20px;
    border-bottom : 1px solid RGB(255, 200, 200);
    text-align : center;
}
.mileage.list tr th,
.mileage.list tr td {
    border-right: 1px dotted RGB(255, 200, 200);
}
.mileage.list tr:first-child {
    border-bottom : 3px solid #FB9DA7;
}