h3 {
    padding-bottom : 20px;
    font-size : 1.4rem;
}

h3.underline {
    border-bottom : 1px solid #33333330;
    margin : 30px 0;
}

.list {
    box-sizing : border-box;
    table-layout : fixed;
    width : 100%;
    border-spacing : 0;
    border-collapse : collapse;
    line-height : 40px;
    text-align: center;
    border : 3px solid #FB9DA7;
}

#orderCancel tr,
#refundDetail tr,
#refundDetailC tr {
    padding : 5px;
    border-bottom : 1px dotted RGB(255, 200, 200);
}

#orderCancel tr th,
#refundDetail tr th,
#refundDetailC tr th {
    background : #FB9DA7;
    color : white;
}

#orderCancel input[type="text"],
#orderCancel textarea,
#refundDetail textarea,
#refundDetailC input[type="text"],
#refundDetailC textarea {
    all : unset;
    box-sizing: border-box;
    padding: 5px 20px;
    outline: none;
    line-height: 1.2rem;
    width : 100%;
    margin : 0;
    text-align : left;
}

#orderCancel .file_upload,
#refundDetailC .file_upload {
    display: flex;
    align-items: center;
    padding : 0;
}
#orderCancel .file,
#refundDetailC .file {
    padding : 0;
    text-align : center;
}
#orderCancel .file_upload .upload_name,
#refundDetailC .file_upload .upload_name {
    box-sizing: border-box;
    padding: 10px 20px;
    vertical-align: middle;
    width:70%;
    text-align : center;
    border : none;
    outline : none;
}

#orderCancel .file_upload label,
#refundDetailC .file_upload label {
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #FB9DA7;
    font-weight : bold;
    width: 30%;
    color: white;
}

#orderCancel tr .file_upload input[type="file"],
#refundDetailC tr .file_upload input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.file_image {
    display : flex;
    gap: 5px;
}

#orderCancel #refundImg,
#refundDetail #refundImg,
#refundDetailC #refundImg {
    background : none;
}
.buttons {
    display :flex;
    gap : 10px;
    justify-content : flex-end;
}

.buttons *,
#refundImg a {
  all: unset;
  width: 25%;
  box-sizing: border-box;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
  background-color: RGB(255, 227, 227);
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0;
}

.buttons a:hover,
.buttons button:hover,
#refundImg a:hover {
  background-color: #FB9DA7;
}

#refundImg {
    height : 250px;
}
#refundImg div {
    display : flex;
    justify-content : center;
    align-items : flex-end;
    gap : 30px;
}
#refundImg img {
    width : 200px;
    height : 200px;
}

/* refundDetailC */
#refundImg a {
    line-height : 1.2rem;
}

