
form {
    margin: 10px 0;
}

form fieldset {
    all: unset;
    display : block;
    width: 100%;
}

form a {
    text-decoration: none;
}

table input,
textarea {
   box-sizing: border-box;
   display:inline-block;
   padding: 5px 20px;
   width: 100%;
   border-radius: 20px;
   border: 1px solid RGB(255, 227, 227);
   outline: none;
   line-height: 1.2rem;
   margin: 3px 0;
}

form input:focus,
textarea:focus {
      border: 3px solid #FB9DA7;
}

#required,
#choose,
#agree {
    margin-bottom: 10px;
}

form table {
    width: 100%;
    margin: 10px 0;
    line-height : 1.5rem;
    border-top: 1px solid #33333330;
}

form table th {
    width: 20%;
    text-align: left;
    box-sizing: border-box;
    padding: 3px 10px;
}

form table td {
    width: 70%;
    box-sizing: border-box;
    padding: 3px 10px;
}

/*--------- 선택 ------------------------------------------------------------*/

#visit_root {
    display:flex;
}

#visit_root input {
    display:none;
}

#visit_root label {
    line-height : 2rem;
    padding:0;
    text-align:center;

}
#visit_root input:checked+label {
    background-color:#FB9DA7;
    color : white;
}

/*--------- 약관 동의 ------------------------------------------------------*/
#selectAgree {
    display: flex;
    flex-direction: row;
}
#agree {
    line-height : 1.5rem;
}
#agree th {
 width: 10%;
}
#agree td{
    text-align:left;
}
/*--------- 탈퇴 ------------------------------------------------------*/
textarea {
    width: 100%;
}

/*--------- 버튼 ------------------------------------------------------*/
.buttons {
    display: flex;
    justify-content :center;
    gap : 30px;
}

.buttons * {
      all : unset;
      background-color: RGB(255, 200, 200);
      cursor: pointer;
      font-weight: bold;
      color: white;
      text-align:center;
      border-radius: 20px;
      width: 30%;
      line-height : 1.2rem;
      box-sizing: border-box;
      padding: 10px 0;
}

#join:hover,
#back:hover,
#deleteUser:hover,
#change:hover,
#close:hover,
#complete:hover,
#delete:hover,
#add:hover {
  background-color: #FB9DA7;
}

.eMessage {
    color : red;
    font-weight: bold;
    font-size : 0.8rem;
}