
aside {
  text-align: center;
  width:200px;
}

aside a {
  display: block;
  text-align: center;
  text-decoration:none;
  font-size: 20px;
  color: black;
}

aside a:hover {
  text-decoration: underline;
  color:#FB9DA7;
  font-weight:bold

}

aside li:not(:last-child) a {
  margin-bottom: 10px;
}
