
.mypageSidebar tr {
    display:flex;
    flex-direction: column;
    text-align:center;
}

.mypageSidebar tr > * {
    box-sizing : border-box;
    padding: 5px 10px;
}

.mypageSidebar tr a {
      text-align: center;
      text-decoration:none;
      color: black;
}