<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 추가</title>
    <link th:href="@{/css/admin/detail.css}" rel="stylesheet">
    <script>
        //창 닫고 부모창 reload
        function windowClose() {
            window.opener.parent.location.reload();
            window.close();
        }

         // 첨부파일명 / 사진 미리보기
        function loadFile(input) {
            var container = document.querySelector('.main_image');
            container.innerHTML = "";

             if(input.files[0]) {
                var file = input.files[0]
                var name = document.querySelector('.upload_name');
                name.value = file.name;

                var newImage = document.createElement("img");
                newImage.setAttribute("class","img");
                newImage.src = URL.createObjectURL(file);

                container.appendChild(newImage);
             }

        }
    </script>
</head>
  <body>
        <h3 class="underline">상품 정보</h3>

        <form th:action="@{/admin/product/add}" method="post" th:object="${productDTO}" enctype="multipart/form-data">
            <table class="product_info">
              <tbody>
                <tr>
                  <th><label>상품번호</label></th>
                    <td></td>
                </tr>
                <tr>
                  <th><label for ="category">카테고리</label></th>
                  <td>
                      <select name="category" id="category" th:field="*{categoryDTO.categoryId}">
                          <option value="custom">custom</option>
                          <option value="design">design</option>
                          <option value="etc">etc</option>
                      </select>
                  </td>
                </tr>
                <tr>
                  <th><label>상품명</label></th>
                    <td>
                        <input type="text" th:field="*{name}">
                    </td>
                </tr>
                <tr>
                    <th><label>태그</label></th>
                    <td>
                        <input type="text" th:field="*{tag}">
                    </td>
                </tr>
                <tr>
                    <th><label>가격</label></th>
                    <td>
                        <input type="text" th:field="*{price}">
                    </td>
                </tr>
                <tr>
                    <th><label>재고</label></th>
                    <td>
                        <input type="text" th:field="*{amount}">
                    </td>
                </tr>
                <tr>
                    <th><label>상세설명</label></th>
                    <td>
                        <textarea name="description" id="description" rows="10" th:field="*{info}"></textarea>
                    </td>
                </tr>
                <tr>
                    <th><label>별점</label></th>
                    <td></td>
                </tr>
                <tr>
                    <th>메인이미지</th>
                    <td>
                        <div class="file_upload">
                            <input class="upload_name" placeholder="첨부파일"  readonly>
                            <label for="file">파일 첨부</label>
                            <input type="file" name="imgFile" id="file" accept="image/*"  multiple onchange="loadFile(this)">
                        </div>
                        <div class="main_image"></div>
                    </td>
                </tr>
                <tr>
                    <th><label>등록일</label></th>
                    <td></td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
                <button>완료</button>
                <a onclick="windowClose();">닫기</a>
            </div>
        </form>
  </body>
</html>