<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 정보</title>
    <link th:href="@{css/admin/detail.css}" rel="stylesheet">
    <script>
        //창 닫고 부모창 reload
        function windowClose() {
            window.opener.parent.location.reload();
            window.close();
        }

        // Get -> Post 로 전달
        function submitForm() {

             const form = document.createElement('form');
             form.method = 'POST';
             form.action = '/a_product_del';

             const id = document.querySelector('.productId');
             const input = document.createElement('input');
             input.type = 'hidden';
             input.name = 'productId';
             input.value = id.textContent;
             form.appendChild(input);

             document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
  <body>
        <h3 class="underline">상품 정보</h3>

        <table class="product_info">
          <tbody>
            <tr>
              <th><label>상품번호</label></th>
              <td class="productId" th:text="${productDTO.productId}"></td>
            </tr>
            <tr>
              <th><label >카테고리</label></th>
              <td th:text="${productDTO.categoryDTO.categoryId}"></td>
            </tr>
            <tr>
              <th><label>상품명</label></th>
                <td th:text="${productDTO.name}"></td>
            </tr>
            <tr>
                <th><label>태그</label></th>
                <td th:text="${productDTO.tag}"></td>
            </tr>
            <tr>
                <th><label>가격</label></th>
                <td th:text="${productDTO.price}"></td>
            </tr>
            <tr>
                <th><label>재고</label></th>
                <td th:text="${productDTO.amount}"></td>
            </tr>
            <tr>
                <th><label>상세설명</label></th>
                <td th:text="${productDTO.info}"></td>
            </tr>
            <tr>
                <th><label>별점</label></th>
                <td th:text="${productDTO.star}"></td>
            </tr>
            <tr>
                <th><label>메인이미지</label></th>
                <td>
                    <img class="main_image" th:src ="@{${productDTO.getImage()}}">
                </td>
            </tr>
            <tr>
                <th><label>등록일</label></th>
                <td th:text="${productDTO.date}"></td>
            </tr>
          </tbody>
        </table>
        <div class="buttons">
          <a th:href="@{a_product_change(productId=${productDTO.productId})}" id="change">수정</a>
          <a onclick="submitForm();">삭제</a>
          <a onclick="windowClose();">닫기</a>
        </div>
  </body>
</html>