<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세 이미지</title>
    <link th:href="@{/css/admin/detail.css}" rel="stylesheet">
    <script>
    // 첨부파일명 / 사진 미리보기
        function loadFile(input) {
            var container = document.querySelector('.detail_image');
            container.innerHTML = "";

             if(input.files && input.files[0]) {
                var names = [];
                for(let i = 0; i < input.files.length; i ++ ) {
                    var file = input.files[i];
                    names.push(file.name);

                    var newImage = document.createElement("img");
                    newImage.setAttribute("class","img");
                    newImage.src = URL.createObjectURL(file);

                    container.appendChild(newImage);
                }
                var name = document.querySelector('.upload_name');
                name.value = names.join(`  /  `);
            }
        }

        function windowClose() {
            window.opener.parent.location.reload();
            window.close();
        }


    </script>
</head>
  <body>
        <h3 class="underline">상품 상세 이미지</h3>

        <th:block th:if="${productImgList == null || productImgList.size() == 0}">
            <div class="noImg">
                <form th:action="@{/admin/product/dImage}" th:method="post" th:object="${productImg}" enctype="multipart/form-data">
                    <input type="hidden" name="productId" th:value="${productId}">
                    <div class="text">등록된 이미지가 없습니다.</div>

                    <div class="file_upload">
                        <input class="upload_name" placeholder="첨부파일"  readonly>
                        <label for="file">파일 첨부</label>
                        <input type="file" name="files" id="file" accept="image/*"  multiple onchange="loadFile(this)">
                    </div>
                    <div class="detail_image"></div>
                    <div class="buttons">
                        <button>완료</button>
                        <a onclick="window.close();">닫기</a>
                    </div>
                </form>
            </div>
        </th:block>
        <th:block th:if="${productImgList.size() > 0 && productImgList != null}" >
            <div class="text">등록된 이미지 리스트</div>

            <table class="img_info">
              <tbody>
                <tr th:each="img,i : ${productImgList}">
                    <th>상세 사진 [[${i.index+1}]]</th>
                    <td class="main_image">
                        <img th:src="${img.image}">
                    </td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
                <a th:href="@{/admin/product/dImageC(productId=${productId})}">수정</a>
                <a onclick="windowClose();">닫기</a>
            </div>
        </th:block>
  </body>
</html>