<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/adminLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
    <link th:href="@{/css/admin/list.css}" rel="stylesheet">
    <script th:inline="javascript">
    //전체선택
        $(document).ready(function() {
            $('#selectAll').click(function() {
                if($('#selectAll').is(':checked'))
                    $("input[name=productIds]").prop("checked", true);
                else
                    $("input[name=productIds]").prop("checked", false);
            });
        });
    </script>
</head>
<body>
    <section class="content">
        <h3 class="underline">상품 관리</h3>

        <div class="sort">
                <a th:href="@{/admin/product}" th:text="전체" th:class="${status == 'all'} ? 'active' : '' "></a>
                <a th:href="@{/admin/product(sort='custom')}" th:text="custom" th:class="${status == 'custom'} ? 'active' : '' "></a>
                <a th:href="@{/admin/product(sort='design')}" th:text="design" th:class="${status == 'design'} ? 'active' : '' "></a>
                <a th:href="@{/admin/product(sort='etc')}" th:text="etc" th:class="${status == 'etc'} ? 'active' : '' "></a>
        </div>

        <form id="deleteProduct" th:action="@{/admin/product/del}" method="post" >
            <table class="list">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll">전체 선택</label>  <!--자바로 구현 필요-->
                    </th>
                    <th>상품번호</th>
                    <th>카테고리</th>
                    <th>메인사진</th>
                    <th>상품명</th>
                    <th> 재고 </th>
                    <th>상세사진</th>
                </tr>
                </thead>

                <tbody id="productList">
                <th:block th:each="product : ${productList}">
                    <tr>
                        <td scope="row">
                            <input type="checkbox" name="productIds" th:value="${product.productId}">
                        </td>
                        <td>[[${product.productId}]]</td>
                        <td>[[${product.categoryDTO.categoryId}]]</td>
                        <td>
                            <img class="main_image" th:src="@{${product.getImage()}}">
                        </td>
                        <td>
                         <a class="productName" th:href="@{/admin/product/detail(productId=${product.productId})}" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=800,height=800'); return false;">
                             [[${product.name}]] </a>
                        </td>
                        <td>[[${product.amount}]]</td>
                        <td><a class="detailImg" th:href="@{/admin/product/dImage(productId=${product.productId})}" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=800, height=800'); return false;">상세이미지</a></td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                    <div class="buttons">
                        <button>선택 삭제</button>
                        <input type="reset" value="선택 취소">
                        <a th:href="@{/admin/product/add}" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=800,height=800'); return false;">상품 추가</a>
                    </div>
                </tfoot>
            </table>
        </form>
    </section>
</body>
</html>