<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/adminLayout}"
      layout:fragment="Content">
<head>
  <link th:href="@{/css/admin/list.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
  <meta charset="UTF-8">
  <script th:inline="javascript">
        $(document).ready(function() {
            $('#selectAll').click(function() {
                if($('#selectAll').is(':checked'))
                    $("input[name=productQIds]").prop("checked", true);
                else
                    $("input[name=productQIds]").prop("checked", false);
            });
        });
    </script>
  <title>주문 관리</title>
</head>
<body>
<section class="content">
  <h3 class="underline">주문 관리</h3>

  <div class="sort">
    <a th:href="@{/admin/order}" th:text="전체" th:class="${status == 'all'} ? 'active' : '' "></a>
    <a th:href="@{/admin/order(sort='결제 완료')}" th:text="'결제 완료'" th:class="${status == '결제 완료'} ? 'active' : '' "></a>
    <a th:href="@{/admin/order(sort='배송 준비')}" th:text="'배송 준비'" th:class="${status == '배송 준비'} ? 'active' : '' "></a>
    <a th:href="@{/admin/order(sort='배송 중')}" th:text="'배송 중'" th:class="${status == '배송 중'} ? 'active' : '' "></a>
    <a th:href="@{/admin/order(sort='배송 완료')}" th:text="'배송 완료'" th:class="${status == '배송 완료'} ? 'active' : '' "></a>
    <a th:href="@{/admin/order(sort='구매 확정')}" th:text="'구매 확정'" th:class="${status == '구매 확정'} ? 'active' : '' "></a>
  </div>

  <form id="cancelOrder" method="post" th:action="@{/admin/order/cancel}">
    <table class="list">
      <tbody id="orderList">
        <tr>
          <th>
            <input type="checkbox" id="selectAll">
            <label for="selectAll">전체 선택</label>
          </th>
          <th>주문번호</th>
          <th>주문상세번호</th>
          <th>아이디</th>
          <th>진행사항</th>
        </tr>
        <th:block th:each="odetail : ${oDetailList}">
          <tr>
            <td scope="row">
              <input type="checkbox" name="orderIds" th:value="${odetail.orderDTO.orderId}">
            </td>
            <td>[[${odetail.orderDTO.orderId}]]</td>
            <td><a th:href="@{/admin/order/detail(odetailId=${odetail.odetailId},page='admin')}" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=600,height=550'); return false;">[[${odetail.odetailId}]]</a></td>
            <td>[[${odetail.orderDTO.userDTO.userId}]]</td>
            <th>[[${odetail.orderDTO.status}]]</th>
          </tr>
        </th:block>
      </tbody>
      <tfoot>
        <div class="buttons">
          <button>상태 변경</button>
          <input type="reset" value="선택 취소">
        </div>
      </tfoot>
    </table>
  </form>
</section>

</body>
</html>