<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/order/address.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
  <meta charset="UTF-8">
  <title>주문 | 배송지</title>

  <script>
     function useAddress(element) {
        var status = element.getAttribute('data-element');
        var addressId = "";
        if(status == 'check')  addressId = document.getElementById('check').getAttribute('data-code');
        else addressId = document.querySelector('input[name=addressId]:checked').value;
        opener.document.getElementById('zipCode').value = document.getElementById('zipCode'+addressId).value;
        opener.document.getElementById('address1').value = document.getElementById('address1'+addressId).value;
        opener.document.getElementById('address2').value = document.getElementById('address2'+addressId).value;
        window.close();
    } //idOK

  </script>


</head>
<body>
  <section class="content">
    <h3 class="underline">배송지 리스트</h3>
    <div id="addressBox">
        <table class="address list">
          <thead>
          <tr>
            <th class="col1">기본배송지</th>
            <th class="col2">배송지명</th>
            <th class="col3">우편번호</th>
            <th class="col4">주소</th>
          </tr>
          </thead>
          <tbody id="address">
            <div th:if="${addressList == null || addressList.size() == 0}">
              <td colspan="4">
                <h3>배송지를 추가해주세요.</h3>
                <div class="buttons">
                    <a th:href="@{/mypage/address/add}" class="add" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=850,height=500'); return false;">배송지 추가</a>
                </div>
              </td>
            </div>
            <div th:if="${addressList != null}">
              <th:block th:each="address, i : ${addressList}">
                <tr>
                  <td class="col1">
                    <th:block th:if="${address.status != '기본배송지'}">
                      <input type="radio" name="addressId" th:id="'select'+${address.addressId}" th:value="${address.addressId}">
                    </th:block>
                    <th:block th:if="${address.status == '기본배송지'}">
                      <div id="check" th:attr="data-code=${address.addressId}"><span>체크</span></div>
                    </th:block>
                  </td>
                  <td class="col2">
                      <th:block th:if="${address.addressName == null}">
                        <input type="text" th:id="'id'+${address.addressId}"   th:value="${address.userDTO.userId}" readonly>
                      </th:block>
                      <th:block th:if="${address.addressName != null}">
                        <input type="text" th:id="'name'+${address.addressId}" th:value="${address.addressName}" readonly>
                      </th:block>
                    </a>
                  </td>
                  <td class="col3"><input type="text" th:id="'zipCode'+${address.addressId}" th:value="${address.zipCode}" readonly></td>
                  <td class="col4">
                    <input type="text" th:id="'address1'+${address.addressId}" th:value="${address.address_1}" readonly>
                    <th:block th:if="${address.address_2 != null}">
                      <input type="text" th:id="'address2'+${address.addressId}" th:value="${address.address_2}" readonly>
                    </th:block>
                  </td>
                </tr>
              </th:block>
            </div>
          </tbody>
        </table>
        <th:block th:if="${addressList != null}">
          <div class="buttons">
              <a onclick="useAddress(this)"  th:attr="data-element='check'">기본 배송지 사용</a>
              <a onclick="useAddress(this)"  th:attr="data-element='select'">배송지 사용</a>
              <a th:attr="data-page='order'" th:href="@{/order/address/add}" class="add" th:target="'_blank'" onclick="window.open(this.href, this.target, 'width=850,height=500'); return false;">배송지 추가</a>
              <a onclick="window.close()">닫기</a>
          </div>
        </th:block>
    </div>
  </section>
</body>
</html>