<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/orderLayout}"
      layout:fragment="Content(cart)">
<head>
  <meta charset="UTF-8">
  <link th:href="@{css/order/cart.css}" rel="stylesheet">
  <title>장바구니</title>

</head>
<body>
    <form th:action="@{order}" method="post">
      <h3 class="underline">선택한 상품</h3>
      <table class="cart">
        <thead>
          <th class="select">
            <input type="checkbox" id="selectAll">
            <label for="selectAll">전체선택</label>
          </th>
          <th colspan="2" class="info">상품 / 옵션 정보</th>
          <th class="count">수량</th>
          <th class="price">가격</th>
        </thead>
        <tbody>
          <th:block th:each="cart, i : ${cartList}">
            <tr>
              <td><input type="checkbox" name="products" th:id="${i.index+1}" value="${cart.productDTO.productId}"></td>
              <td>[[${cart.productDTO.productName}]]</td>
              <td>
                <p th:if="${cart.option_sheet} != null">
                [[${cart.option_sheet}]]
                </p>
                <p th:if="${cart.option_shape} != null">
                  [[${cart.option_shape}]]
                </p>
                <p th:if="${cart.option_cream} != null">
                  [[${cart.option_cream}]]
                </p>
                <p th:if="${cart.option_lettering} != null">
                  [[${cart.option_lettering}]]
                </p>
                <p th:if="${cart.option_size} != null">
                  [[${cart.option_size}]]
                </p>
                <p th:if="${cart.option_image} != null">
                  [[${cart.option_image}]]
                </p>
              </td>
              <td class="countBtn">
                <button class="decrease" value="-1">-</button>
                <div> [[${cart.amount}]]</div>
                <button class="increase" value="+1">+</button>
              </td>
              <td  th:text="[[${cart.price}]]*[[${cart.amount}]]">값</td>
            </tr>
          </th:block>
        </tbody>
      </table>

      <table class="order">
        <tbody>
          <tr>
            <th>상품 총 금액</th>
            <td>
<!--              <p th:text="${@CustomUtil.calcPrice(cartList)}"></p>-->
            </td>
            <th>배송비</th>
            <td>3000</td>
          </tr>

          <tr>
            <th colspan="2">합계</th>
<!--            <td colspan="2" th:text="3000 + ${@CustomUtil.calcPrice(cartList)}">result</td>-->
          </tr>
        </tbody>
      </table>

      <div class="buttons">
        <input type="submit" value="선택 항목 삭제">
        <input type="submit" value="선택 항목 주문">
        <input type="submit" value="모든 항목 주문">
      </div>
    </form>

</body>
</html>