<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/mypageLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/mypage/mypage.css}" rel="stylesheet">
    <title>마이페이지</title>
</head>
<body>
    <main class="content">
        <div class="mypage">
            <div class="user">
                <th:block th:if="${session.userRole=='kakao'}">
                    <span th:text="${session.name}+' 님'"></span>
                </th:block>
                <th:block th:if="${session.userRole != 'kakao'}">
                    <span th:text="${session.loginId}+' 님'"></span>
                </th:block>
<!--                    a href="#" class="ClassInfo">등급별 혜택</a>-->
            </div>

            <div class="mypage_menu">
                <div class="profile">
                    <a th:href="@{/mypage/user/info}">
                        <span id="profileImg"></span>
                        <p>PROFILE</p>
                    </a>
                </div>
                <div class="order">
                    <a th:href="@{/mypage/order}">
                        <span id="orderImg"></span>
                        <p>ORDER</p>
                    </a>
                </div>
                <div class="board">
                    <a th:href="@{/mypage/question/list}">
                        <span id="boardImg"></span>
                        <p>BOARD</p>
                    </a>
                </div>
                <div class="wishList">
                    <a th:href="@{/mypage/wish/list}">
                        <span id="wishListImg"></span>
                        <p>WISH LIST</p>
                    </a>
                </div>
            </div>
        <!-- 마이페이지 하단메뉴 -->
        </div>
    <!-- 마이페이지 메인 -->
    </main>
</body>
</html>