<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/mypageLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/product/product.css}" rel="stylesheet">
    <title>wishList</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <th:block th:each="item, i : ${wishList}">
                <div th:if="${item == null}">
                    <span>WishList 가 없습니다.</span>
                </div>
                <div class="custom" th:classappend="${i.index+1}">
                    <p>
                        <a ref=""><img th:src="${item.productDTO.image}"></a>
                    <h3 th:text="${item.productDTO.name}"></h3><br>
                    </p>
                </div>
            </th:block>
        </div>
    </main>
</body>
</html>