<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{common/layouts/listLayout}"
                layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/product/product.css}" rel="stylesheet">
    <title>Design</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <div class="item1">
<!--                <img src="../img/glass/1.jpg" alt="">-->
            </div>

            <div class="item2">
<!--                <img src="../img/glass/2.jpg" alt="">-->
            </div>

            <div class="item3">
<!--                <img src="../img/glass/3.jpg" alt="">-->
            </div>

            <div class="item4">
<!--                <img src="../img/glass/4.jpg" alt="">-->
            </div>

            <div class="item5">
<!--                <img src="../img/glass/5.jpg" alt="">-->
            </div>
            <div class="item6">
<!--                <img src="../img/glass/6.jpg" alt="">-->
            </div>
            <div class="item7">
<!--                <img src="../img/glass/6.jpg" alt="">-->
            </div>
             <div class="item8">
<!--                <img src="../img/glass/6.jpg" alt="">-->
            </div>
            <div class="item9">
<!--                <img src="../img/glass/9.jpg" alt="">-->
            </div>
        </div>
    </main>
</body>
</html>