
/* ----- ★ notice/QnA 틀 설정 ★ ------------------------------------------------------------*/

.content {
     width: 100%;
     padding-left: 20px;
     border-left: 1px solid #33333330;
     display: flex;
     flex-direction: column;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}

h3.underline {
  border-bottom: 1px solid #33333330;
  margin-bottom: 20px;
}

/* ----- ★ notice/QnA table 기본 설정 ★ ------------------------------------------------------------*/

table {
  table-layout: fixed; /* 이게 없으면... column 넓이 하나도 안멱혀요...*/
  width: 100%;
  margin: 30px 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 3px solid #FB9DA7;
  line-height: 40px;
}
.col1 {
     width: 20%;
 }
.col2 {
    width: 20%;
 }
.col3 {
    width: 60%;
    padding : 0 10px;
}
table thead {
  border-bottom: 3px solid #FB9DA7;
}
table th {
    background : #FB9DA7;
    color : white;
}

table td {
  border-right: 1px dotted RGB(255, 200, 200);
}
/* ----- ★ QnA의 버튼 파트 ★ ------------------------------------------------------------*/

.select {
    display: flex;
    gap : 30px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}

.select a {
    text-decoration:none;
    color: white;
    border-radius: 20px;
    background-color: RGB(255, 200, 200);
    box-sizing: border-box;
    padding: 5px 20px;
}

/* ----- ★ QnA 정렬 컬러 설정 ★ ------------------------------------------------------------*/
.select a.active {
    background-color: #FB9DA7;
}

/* ----- ★ notice/QnA toggle 설정 ★ ------------------------------------------------------------*/

section .toggle_Q .QA_content {
  text-align: left;
}



section .toggle_A {
  display: none;
  text-align: justify;
  word-break: break-all;

    /* content: '\f106'; */
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
}

section .toggle_Q,
thead tr {
  background-color: var(--white-f);
  padding: 10px;
  border-bottom: 1px dotted RGB(255, 200, 200);
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin-right: 10px;
  text-align: center;
}

section .QA_q_a,
section .notice_a {
  padding: 20px;
  background-color: var(--white-f9);
  border-bottom: 1px dotted RGB(255, 200, 200);
}
