
.content {
     width: 100%;
     padding-left: 20px;
     border-left: 1px solid #33333330;
     display: flex;
     flex-direction: column;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}

h3.underline {
  border-bottom: 1px solid #33333330;
  margin-bottom: 20px;
}

table {
  table-layout: fixed; /* 이게 없으면... column 넓이 하나도 안멱혀요...*/
  width: 100%;
  margin: 0 0 20px 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #3c3c3c;
  line-height: 40px;
}
 table tr th:nth-child(1) {
     width: 10%;
 }
table tr th:nth-child(2) {
    width: 30%;
 }
table tr th:nth-child(3) {
    width: 60%;
}

.select {
    display: flex;
    gap : 30px;
    margin: 10px auto;
    text-align: center;
}

.select a {
    text-decoration:none;
    color: white;
    border-radius: 20px;
    background-color: RGB(255, 227, 227);
    box-sizing: border-box;
    padding: 5px 20px;
}
.click {
    background-color: #FB9DA7;
}



section .toggle_Q .guide_content,
section .toggle_Q .QA_content,
section .toggle_Q .notice_content{
  text-align: left;
}
section .toggle_A {
  display: none;
  text-align: justify;
  word-break: break-all;

    /* content: '\f106'; */
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
}

section .toggle_Q,
thead tr {
  background-color: var(--white-f);
  padding: 10px;
  border-bottom: 1px solid #333333;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin-right: 10px;
  text-align: center;
}
 section .guide_q_title::before,
 section .toggle_Q .notice_content::before {
  /* content: '\f2c4';  q마크왜 안될까나*/
  content: '\f00c';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin:0 10px;
}

section .QA_q_title::before,
section .QA_q_content::before {
  content: '\f059';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;

}

section .guide_q_a,
section .QA_q_a,
section .notice_a {

  padding: 20px;
  background-color: var(--white-f9);
  border-bottom: 1px solid #333333;
}

section .toggle_A .open {
  display: flex;
  content: '\f107';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


