
/* product  정렬 */

.wrapper {
    margin: 50px auto;
    width: 100%;
    height: 1000px;
    display:grid;
    grid-template: repeat(13, 1fr) / repeat(13 , 1fr);
    grid-template-areas:
    ". a a a . b b b . c c c ."
    ". a a a . b b b . c c c ."
    ". a a a . b b b . c c c ."
    ". . . . . . . . . . . . ."
    ". d d d . e e e . f f f ."
    ". d d d . e e e . f f f ."
    ". d d d . e e e . f f f ."
    ". . . . . . . . . . . . ."
    ". g g g . h h h . i i i ."
    ". g g g . h h h . i i i ."
    ". g g g . h h h . i i i ."
}

.img {
    height: 100%;
}

.item1 {
    grid-area : a;
}
.item2 {
    grid-area : b;
}
.item3 {
    grid-area : c;
}
.item4 {
    grid-area : d;
}
.item5 {
    grid-area : e;
}
.item6 {
    grid-area : f;
}
.item7 {
    grid-area : g;
}
.item8 {
    grid-area : h;
}
.item9 {
    grid-area : i;
}
