
/* product  정렬 */

.wrapper {
    margin: 0 auto;
    margin-bottom: 50px;
    gap: 20px;
    width: 80%;
    height: 700px;
    text-align: center;
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-areas:
     "a b c"
     "d e f"
     "g h i";
}

.custom img {
    width: 100%;
    height: 300px;
}

.custom1 {
    grid-area : a;
}
.custom2 {
    grid-area : b;
}
.custom3 {
    grid-area : c;
}
.custom4 {
    grid-area : d;
}
.custom5 {
    grid-area : e;
}
.custom6 {
    grid-area : f;
}
.custom7 {
    grid-area : g;
}
.custom8 {
    grid-area : h;
}
.custom9 {
    grid-area : i;
}

a {
    text-decoration: none;
    color: black;
}

/* 이미지 */
.product_imgs {
    position: relative;
}

.product_imgs span {
        position: absolute;
        right: 0px;
        z-index: 2;
        background: url("/img/product/heart.svg") no-repeat center/100% ;
        width: 50px;
        height: 50px;
        text-indent: -9999em;
}

.product_imgs span.active {
        background: url("/img/product/full_heart.svg") no-repeat center/100% ;
}

/*태그들*/
.tags {
    padding: 10px;
    padding-top:0;
}

.tag * {
    color: white;
    font-weight : bold;
    text-decoration : none;
    background-color: #FB9DA7;
    padding : 0 5px;
    margin: 0 10px;
    line-height : 1.2rem;
}

.tags label{
      background-color: RGB(255, 200, 200);
      cursor: pointer;
      font-weight: bold;
      color: white;
      text-align:center;
      text-decoration:none;
      width: 30%;
      border-radius : 20px;
}

.tags label:hover,
.tags input[name="tags"]:checked+label {
  background-color: #FB9DA7;
}

.tags input {
    display : none;
}
