<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/adminLayout}"
      layout:fragment="Content">
<head>
  <link th:href="@{/css/admin/list.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
  <meta charset="UTF-8">
  <title>반품 관리</title>
</head>
<body>
<section class="content">
  <h3 class="underline">반품 관리</h3>

  <div class="sort">
    <a th:href="@{/admin/refund}" th:text="전체" th:class="${status == 'all'} ? 'active' : '' "></a>
    <a th:href="@{/admin/refund(sort='반품 요청')}" th:text="'반품 요청'" th:class="${status == '반품 요청'} ? 'active' : '' "></a>
    <a th:href="@{/admin/refund(sort='반품 처리중')}" th:text="'반품 처리중'" th:class="${status == '반품 처리중'} ? 'active' : '' "></a>
    <a th:href="@{/admin/refund(sort='반품 확정')}" th:text="'반품 확정'" th:class="${status == '반품 확정'} ? 'active' : '' "></a>
    <a th:href="@{/admin/refund(sort='반품 완료')}" th:text="'반품 완료'" th:class="${status == '반품 완료'} ? 'active' : '' "></a>
  </div>


    <table class="list">
      <tbody id="refundList">
          <tr>
            <th>번호</th>
            <th>주문상세번호</th>
            <th>아이디</th>
            <th>제목</th>
            <th>진행사항</th>
            <th>날짜</th>
          </tr>
        <th:block th:each="refund : ${refundList}">
          <tr>
            <td>[[${refund.refundId}]]</td>
            <td>[[${refund.orderDetailDTO.odetailId}]]</td>
            <td>[[${refund.userDTO.userId}]]</td>
            <td>
              <a th:href="@{/admin/refund/detail(refundId=${refund.refundId})}" th:targer="'_blank'" onclick="window.open(this.href, this.target, 'width=600,height=550'); return false;">[[${refund.title}]]</a>
            </td>
            <td>[[${refund.status}]]</td>
            <td>[[${refund.date}]]</td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </form>
</section>

</body>
</html>