<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/admin/detail.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/myLib/jquery-3.2.1.min.js}"></script>
  <meta charset="UTF-8">
  <title>반품 관리</title>
  <script th:inline="javascript">
    function windowClose() {
      window.close();
      window.opener.location.reload();
    }

    function changeStatus() {
          var target = "popUp";
          var features = "scrollbars = yes, width = 500, height=250, location=no, resizable=yes";
          window.open("",target,features);

           const form = document.createElement('form');
           form.method = 'GET';
           form.action = '/admin/refund/status';
           form.target = target;

           const id = document.querySelector('#refundId');
           const input = document.createElement('input');
           input.type = 'hidden';
           input.name = 'refundIds';
           input.value = id.innerText;
           form.appendChild(input);

           document.body.appendChild(form);
           form.submit();
      }
  </script>
</head>
<body>
<section class="content">
  <h3 class="underline">반품 상세 정보</h3>

  <table class="list">
    <tbody id="refundList">
      <tr>
        <th>반품번호</th>
        <td id="refundId">[[${refund.refundId}]]</td>
      </tr>
      <tr>
        <th>주문상세번호</th>
        <td>[[${refund.orderDetailDTO.odetailId}]]</a></td>
      </tr>
      <tr>
        <th>아이디</th>
        <td>[[${refund.userDTO.userId}]]</td>
      </tr>
      <tr>
        <th>제목</th>
        <td>[[${refund.title}]]</td>
      </tr>
      <tr>
        <th>반품사유</th>
        <td>
          <textarea name="description" id="description" rows="10">[[${refund.content}]]</textarea>
        </td>
      </tr>
      <tr>
        <th>첨부사진1</th>
        <th:block th:if="${refund.image_1 !=null}">
          <td><img class="main_image" th:src="${refund.image_1}">
        </th:block>
        <th:block th:if="${refund.image_1 == null}">
          <td><label>❌</label></td>
        </th:block>
      </tr>
      <tr>
        <th>첨부사진2</th>
        <th:block th:if="${refund.image_2 !=null}" >
          <td><img class="main_image" th:src="${refund.image_2}">
        </th:block>
        <th:block th:if="${refund.image_2 == null}">
          <td><label>❌</label></td>
        </th:block>
      </tr>
      <tr>
        <th>진행 상태</th>
        <td>[[${refund.status}]]</td>
      </tr>
      <tr>
        <th>날짜</th>
        <td>[[${refund.date}]]</td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <a onclick="changeStatus();">상태 변경</a>
    <a onclick="windowClose()">닫기</a>
  </div>
</section>
</body>
</html>